html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Microsoft JhengHei",Roboto,"Helvetica Neue",Arial,sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 414px) {
  body {
    font-size: 11px;
  }
}

img {
  vertical-align: bottom;
}

.mx-auto {
  margin: 0 auto;
}

.title {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 7px;
  margin-bottom: 16px;
  border-bottom: 1px solid #000;
}

.title .subtitle {
  color: #A00404;
  font-size: 1.5rem;
  line-height: 2.25rem;
  padding-left: 16px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.container {
  width: 1200px;
  padding-top: 40px;
}

@media (max-width: 1300px) {
  .container {
    width: 840px;
  }
}

@media (max-width: 1000px) {
  .container {
    width: 720px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 600px;
  }
}

@media (max-width: 414px) {
  .container {
    width: 300px;
    padding: 0 8px;
  }
}

.container > h1 {
  font-size: 5rem;
  line-height: 95px;
  padding-bottom: 22px;
  border-bottom: 2px solid #000;
}

.container .photo {
  margin: 48px 0;
}

.container .box {
  margin-bottom: 64px;
}

@media (max-width: 1300px) {
  .container .box {
    margin-bottom: 57.6px;
  }
}

@media (max-width: 768px) {
  .container .box {
    margin-bottom: 48px;
  }
}

@media (max-width: 414px) {
  .container .box {
    margin-bottom: 16px;
  }
}

.container .box li {
  font-size: 1.5rem;
  line-height: 2.25rem;
  margin-bottom: 24px;
}

@media (max-width: 414px) {
  .container .box li {
    margin-bottom: 16px;
  }
}

.container .box .educList li {
  margin-bottom: 16px;
}

.workEx-container {
  margin-top: 64px;
  margin-bottom: 80px;
  width: 1200px;
}

.workEx-list {
  margin-left: 20px;
  padding-left: 24px;
  border-left: 1px solid #96A9C4;
}

.workEx-list > li {
  margin-bottom: 24px;
}

.workEx-item {
  line-height: 2.25rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.workEx-content {
  line-height: 1.875rem;
  font-size: 1.25rem;
}

.skill-container {
  padding-top: 24px;
  padding-bottom: 40px;
  margin-bottom: 4rem;
}

.skill-title {
  margin: 0 auto;
  width: 996px;
  text-align: center;
  font-size: 2rem;
  line-height: 3rem;
  padding-bottom: 7px;
  border-bottom: 1px solid #fff;
}

.skill-subtitle {
  font-size: 1.5rem;
  line-height: 2.25rem;
  margin-left: 16px;
}

.skill-list {
  border-left: 1px solid #96A9C4;
  width: 200px;
  padding-left: 22px;
  margin: 0 auto;
  margin-top: 40px;
}

.skill-item {
  text-align: left;
  font-size: 1.5rem;
  line-height: 2.25rem;
  margin-bottom: 8px;
}

.skill-item:last-child {
  margin-bottom: 0;
}

.hexLogo {
  width: 100px;
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
}

.simtreeLogo {
  width: 100px;
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
}

.darkBlue {
  background-color: #415165;
  color: #fff;
  margin-top: 24px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 24px;
}

.footer h2 {
  width: 83%;
  font-size: 2rem;
  line-height: 3rem;
  border-bottom: 1px solid #fff;
  text-align: center;
  padding-bottom: 7px;
  margin-bottom: 24px;
}

.footer h2 span {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 1.5rem;
  line-height: 2.25rem;
  margin-left: 16px;
}

.footer ul {
  text-align: center;
}

.footer ul li {
  font-size: 1.5rem;
  line-height: 2.25rem;
  margin-bottom: 16px;
}

@media (max-width: 414px) {
  .footer ul li {
    font-size: 1.4rem;
    line-height: 1.5rem;
  }
}

.footer ul li:nth-child(4) {
  margin-bottom: 16px;
}

.footer ul li:nth-child(4) a {
  color: #fff;
  text-decoration: none;
}

.footer ul li:nth-child(4) a:hover {
  color: #ccc;
}

.footer ul li:last-child {
  font-size: 0;
  line-height: 0px;
  margin-bottom: 40px;
}

.footer ul li:last-child img {
  margin: 0 12px;
}

.footer ul li:last-child img:hover {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}

.footer .footerIcon {
  width: 48px;
  height: 48px;
}
/*# sourceMappingURL=all.css.map */