html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.skill-container, .footer-container {
  padding-top: 1.5rem;
  padding-bottom: 2.5rem;
}

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Microsoft JhengHei",Roboto,"Helvetica Neue",Arial,        sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 2.25rem;
  font-size: 1.5rem;
}

img {
  vertical-align: bottom;
}

a {
  text-decoration: none;
}

.mx-auto {
  margin: 0 auto;
}

.title {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 7px;
  margin-bottom: 1rem;
  border-bottom: 1px solid #000;
}

.title > .subtitle {
  color: #A00404;
  font-size: 1.5rem;
  padding-left: 1rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.title2 {
  margin: 0 auto;
  width: 996px;
  text-align: center;
  font-size: 2rem;
  line-height: 3rem;
  padding-bottom: 7px;
  border-bottom: 1px solid #fff;
}

.title2 > .subtitle {
  line-height: 2.25rem;
  margin-left: 1rem;
}

.personal-container {
  width: 1200px;
  padding-top: 2.5rem;
  margin-bottom: 4rem;
}

.personal-container > h1 {
  font-size: 5rem;
  line-height: 95px;
  padding-bottom: 22px;
  border-bottom: 2px solid #000;
}

.personal-photo {
  margin: 3rem 0;
}

.personal-profile {
  margin-bottom: 4rem;
}

.personal-profile li {
  margin-bottom: 1.5rem;
}

.personal-education li {
  margin-bottom: 1rem;
}

.workEx-container {
  margin-top: 4rem;
  margin-bottom: 5rem;
  width: 1200px;
}

.workEx-list {
  margin-left: 1.25rem;
  padding-left: 1.5rem;
  border-left: 1px solid #96A9C4;
}

.workEx-list > li {
  margin-bottom: 1.5rem;
}

.workEx-item {
  font-weight: bold;
}

.workEx-content {
  line-height: 1.875rem;
  font-size: 1.25rem;
}

.skill-container {
  margin-bottom: 4rem;
}

.skill-list {
  border-left: 1px solid #96A9C4;
  width: 200px;
  padding-left: 22px;
  margin: 0 auto;
  margin-top: 2.5rem;
}

.skill-item {
  text-align: left;
  margin-bottom: .5rem;
}

.skill-item:last-child {
  margin-bottom: 0;
}

.hexLogo {
  width: 100px;
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
}

.simtreeLogo {
  width: 100px;
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
}

.darkBlue {
  background-color: #415165;
  color: #fff;
  margin-top: 1.5rem;
}

.footer-content {
  text-align: center;
  margin-top: 1.5rem;
}

.footer-content li {
  line-height: 2.25rem;
  margin-bottom: 1rem;
}

.footer-workLine {
  color: #fff;
}

.footer-iconList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-icon {
  width: 48px;
  height: 48px;
  margin-left: 1.5rem;
}
/*# sourceMappingURL=all.css.map */