%bannerPadding{
  padding-top: 1.5rem ;
  padding-bottom: 2.5rem;
}
body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Microsoft JhengHei",Roboto,"Helvetica Neue",Arial,       
              sans-serif;
  box-sizing: border-box;
  line-height: 2.25rem;
  font-size: 1.5rem;
}

img{
  vertical-align: bottom;
  }

a{
  text-decoration: none;
}

.mx-auto{
  margin: 0 auto;
}

.title {
  font-size: $title-fz;
  line-height: 3rem;
  font-weight: bold;
  display: flex;
  padding-bottom: 7px;
  margin-bottom: 1rem;
  border-bottom: 1px solid #000;
  >.subtitle {
    color: #A00404;
    font-size: 1.5rem;
    padding-left: 1rem;
    align-self: center;
  }
}

.title2{
  margin: 0 auto;
  width: $title2-with;
  text-align: center;
  font-size: $title-fz;
  line-height: 3rem;
  padding-bottom: 7px;
  border-bottom: 1px solid #fff;
  >.subtitle{
    line-height: 2.25rem;
    margin-left: 1rem;
  }
}


.personal{
  &-container {
    width: $container-width;
    padding-top: 2.5rem;
    margin-bottom: 4rem;
    >h1 {
      font-size: 5rem;
      line-height: 95px;
      padding-bottom: 22px;
      border-bottom: 2px solid #000;
    }
  }
  &-photo{
    margin: 3rem 0;
  }

  &-profile {
    margin-bottom: 4rem;

    li {
      margin-bottom: 1.5rem;
    }
  }
  &-education{
    li{
      margin-bottom: 1rem;
    }
  }
}

.workEx{
  &-container{
    margin-top: 4rem;
    margin-bottom: 5rem;
    width: $container-width;
  }
  &-list{
    margin-left: 1.25rem;
    padding-left: 1.5rem;
    border-left: 1px solid #96A9C4;
    >li{
      margin-bottom: 1.5rem;
    }
  }

  &-item{
    font-weight: bold;
  }
  &-content{
    line-height: 1.875rem;
    font-size: 1.25rem;
  }
}

.skill {
  &-container{
    @extend %bannerPadding;
    margin-bottom: 4rem;
  }

  &-list {
    border-left: 1px solid #96A9C4;
    width: 200px;
    padding-left: 22px;
    margin: 0 auto;
    margin-top: 2.5rem;
  }

  &-item {
    text-align: left;
    margin-bottom: .5rem;
    &:last-child{
      margin-bottom:0;
    }
  }
}

.hexLogo{
  width:100px;
  height:100px;
  object-fit: contain;
}
.simtreeLogo{
  width:100px ;
  height: 100px;
  object-fit: contain;
}

.darkBlue {
  background-color: #415165;
  color: #fff;
  margin-top: 1.5rem;
}

.footer {
  &-container{
    @extend %bannerPadding;
  }
  &-content{
    text-align: center;
    margin-top: 1.5rem;
    li{
      line-height: 2.25rem;
      margin-bottom: 1rem;
    }
  }
  &-workLine{
    color: #fff;
  }
  &-iconList{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &-icon{
    width: 48px;
    height: 48px;
    margin-left: 1.5rem;
  }
}